<!-- <h3>Hover me !</h3> -->
<!-- <div class="row"> -->
        
    <div class="card">
        <div class="container">
            <div class="front">
                <p> 
                    <span></span>Trouver la formation qui vous convient</p>
            </div>
            <div class="back">
                <p>Testez vos</p>
            </div>
        </div>
    </div>
<div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span>Contactez-nous pour une réponse pertinente et opérationnelle à vos besoins de formation. </p>
            </div>
            <div class="back">
                <p>Projet sur mesure</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span> CourseHub vous propose une offre de formation multimodale, avec plus de 100 formations animées. </p>
            </div>
            <div class="back">
                <p>Nos solutions</p>
            </div>
        </div>
    </div>

