<!-- <h3>Hover me !</h3> -->
<!-- <div class="row"> -->
        
    <div class="card">
        <div class="container">
            <div class="front">
                <p> 
                    <span></span>CourseHub propose des formations en ligne, s'adressant à toute personne qui souhaite d'apprendre à son rythme et partager ses cours dans des domaines variés </p>
            </div>
            <div class="back">
                <p>CONCEPT</p>
            </div>
        </div>
    </div>
<div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span>
                    Pédagogie
                    <br>
                    Le site vous offre la possibilité d'adapter votre rythme d'apprentissage 
                    à vos contraintes d'organisation, d'acquérir plus de connaissances et 
                    partager votre savoir. </p>
            </div>
            <div class="back"> 
                <p>AVANTAGE</p> 
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="front">
                <p>
                    <span></span>
                    <br>Inscription obligatoire pour la création de formation.
                    Accès gratuit 24h/24, 7j/7.
                    Disponible en français ou en anglais.
                 </p>
            </div>
            <div class="back">
                <p>INFOS</p>
            </div>
        </div>
    </div>

