<div class="container">
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
      <accordion  class="panel panel-info" >
        <accordion-group heading="Sujet 1" [panelClass]="customClass">
          <app-cours-list></app-cours-list>
        </accordion-group>
        <accordion-group heading="Sujet 2" [panelClass]="customClass">
            <app-cours-list></app-cours-list>
        </accordion-group>
        <accordion-group heading="Sujet 3" [panelClass]="customClass">
            <app-cours-list></app-cours-list>
        </accordion-group>
        <accordion-group heading="Sujet 4" [panelClass]="customClass">
            <app-cours-list></app-cours-list>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
