<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>{{formation.titre}}</h1></div>
  </div>
  <div class="row">
    <div  class="col-sm-12">
              <div *ngFor="let sujet of formation.sujets">
              <div>
                <h2 style="float:left">{{sujet.titre}}</h2>
              </div> 
                <div  *ngFor="let cours of sujet.courses" >
                {{cours.titre}}
                <a class="mr-3"> <img  src="./../../../../assets/images/admin/plus.png" title="Ajouter un module" ></a>
                <a class="mr-3"> <img  src="./../../../../assets/images/admin/edit.png"></a> 
                <a class="mr-3"> <img  src="./../../../../assets/images/admin/remove.png"></a>    
              </div>    
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>
</div>
