<div class="container">
  <div class="card border-info text-dark">
    <img class="card-img-top spe" src="{{formation.image}}" alt="Card image cap">
    <div class="card-body">
      <p>{{formation.titre}}</p>

      <!-- <p>{{formation.description}}</p> -->
    </div>
    <div>
      <p class="maj">Dernière mise à jour : {{formation.latestUpdate}}</p>
    </div>
    <div><app-evaluation></app-evaluation></div>
    <div class="card-footer" style="width: 100%">
      <a class="btn btn-info text-white">Voir la formation</a>
    </div>
  </div>
</div>
