<div class="container">
  <div class="card border-info text-dark">
    <img class="card-img-top spe" src="{{formation.image}}" alt="Card image cap">
    <div class="card-body">
      <a href="#">{{formation.titre}}</a>

      <!-- <p>{{formation.description}}</p> -->
    </div>

    <div>
      <p class="maj">Dernière mise à jour : {{formation.latestUpdate}}</p>
    </div>
    
    <app-evaluation class="rating"></app-evaluation>
<!--     <div class="card-footer">
      <a class="btn btn-info text-white">Voir la formation</a>
    </div> -->
  </div>
</div>
